body{
    color: white;
    background-color: #333;
    figure { background-color:black;border: 1px solid #ccc;}
    text-align:center;}
body


h1 {
    border-width: 0.5px;  
    border-style: solid; 
    border-color:  white; 
    color:rgb(255, 247, 0) ;
    background-image: url(../img/63028f63-bcb7-43f1-8dbb-30e0feacf181-untitled.avif)
    
}

h2 {    
    color:white ;
}

p {
    font-style: italic;
    color:white ;
}

figcaption{
    font-style: italic;
}

p:first-letter {
    font-weight: bold;
    color:rgb(255, 255, 255) ;
}

h1 + p {
    text-indent: 0;
}

p:first-line{
    font-variant: small-caps;

}

:not(p) + p:first-line { font-variant: small-caps; }